---
---

// size variables
$media_width_large: 1100px;

// color variables
$background_color: #1C1C1C;
$block_background_color: #FFF;
$link_color: #1EAEDB;
$link_color_hover: #0FA0CE;
$text_color: #000;

$menu_text_color: $block_background_color;
$menu_text_color_hover: #CCC;

// import reset styling
@import "reset";

// import main styling
@import "custom";
