<!-- javascript code -->
<script src="https://cdn.jsdelivr.net/gh/virae/we-stand-with-ukraine@v1.0.2/badge.js" async></script>
<script>
/* menu button
-------------------- */

// get menu elements
menu_parent = document.getElementById('menu-parent');
menu_button = document.getElementById('menu-button');
menu_icon   = document.getElementById('menu-icon-use');
menu_text   = document.getElementById('menu-text');

// register menu click event
menu_button.onclick = function() {
  // check if menu was already clicked
  if (menu_parent.classList.contains('menu-clicked')) {
    // change icon
    menu_icon.setAttribute('xlink:href', '#icon-menu');
    // remove checked class to parent
    menu_parent.classList.remove('menu-clicked');
    // hide menu buttons
    menu_text.style.display = 'none';
  } else {
    // change icon
    menu_icon.setAttribute('xlink:href', '#icon-x');
    // add checked class to parent
    menu_parent.classList.add('menu-clicked');
    // show menu buttons
    menu_text.style.display = 'inline';
  }
};

/* jobtitle carousel
-------------------- */

// set jobtitle variables
var jobtitle_timeout = {{ site.jobtitle.timeout }}
var jobtitle_list    = [{% for title in site.jobtitle.list %}'{{ title }}'{% unless forloop.last %},{% endunless %}{% endfor %}]
var jobtitle_count   = jobtitle_list.length
// start count
var count = 0
// create a loop function
function changeJobTitle () {
  // call a 3s setTimeout when the loop is called
  setTimeout(function () {
    // get next jobtitle in the list
    var next_jobtitle = jobtitle_list[count];
    // change title text to next title in list
    document.getElementById('hero-title').textContent = next_jobtitle;
    // increment the counter
    count++;
    // reset counter if last jobtitle is reached
    if (count == jobtitle_count) {
      count = 0;
    }
    // trigger the function again
    changeJobTitle();
  // end of loop and start again after timeout
  }, jobtitle_timeout)
}
// start loop of title changer
changeJobTitle();

/* now playing
-------------------- */

// nowplaying function
async function nowPlaying()
{
  // connect to nowplaying api
  let response = await fetch('{{ site.api.spotify.nowplaying }}');
  let data = await response.json()
  // return api response
  return data;
}
// process nowplaying data
nowPlaying()
  .then((data) => {
    // retrieve play icon object
    play_icon = document.getElementById('play-icon-use');

    // check for playing status
    if (data.playing) {
      // combine artist and title to single string
      object = data.artist + ' - ' + data.title;
      // change icon
      play_icon.setAttribute('xlink:href', '#icon-play-circle');
    } else {
      // set object to not playing status
      object = 'Not playing anything at the moment.. come back later :)'
      // change icon
      play_icon.setAttribute('xlink:href', '#icon-pause-circle');
    }
    // fill nowplaying artist and title or status
    document.getElementById('nowplaying').textContent = object;
  });

/* top artists
-------------------- */

// topartists function
async function topArtists()
{
  // connect to nowplaying api
  let response = await fetch('{{ site.api.spotify.topartists }}');
  let data = await response.json()
  // return api response
  return data;
}
// topArtists nowplaying data
topArtists()
  .then((data) => {
    // retrieve top artists parent div
    artists_parent = document.getElementById('music-top-artists');
    // set empty content variable
    content = '';

    // loop through artists array
    for (i in data) {
      // set artist name variable
      artist_name = data[i].name;

      // add artist html block to content var
      artist_block = '<div class="music-object"><svg class="icon"><use xlink:href="#icon-music" /></svg>' + artist_name  + '</div>'
      content += artist_block;
    }

    // fill top artists parent div
    artists_parent.innerHTML = content;
  });

/* past concerts
-------------------- */

// topartists function
async function pastConcerts()
{
  // connect to nowplaying api
  let response = await fetch('{{ site.api.songkick.concerts }}');
  let data = await response.json()
  // return api response
  return data;
}
// topArtists nowplaying data
pastConcerts()
  .then((data) => {
    // retrieve past concerts parent div
    concerts_parent = document.getElementById('music-past-concerts');
    // set empty content variable
    content = '';

    // loop through concerts array
    for (i in data) {
      // set artist name variable
      artist_name = data[i].artist_name;

      // add artist html block to content var
      artist_block = '<div class="music-object"><svg class="icon"><use xlink:href="#icon-speaker" /></svg>' + artist_name  + '</div>'
      content += artist_block;
    }

    // fill past concerts parent div
    concerts_parent.innerHTML = content;
  });
</script>
