<div id="home-button" class="main-button header-text">

  <span>
    <svg class="icon-logo icon-menu"><use xlink:href="#icon-jona-logo" /></svg>
  </span>

</div>

<div id="menu-parent" class="main-button header-text menu-button">

  <span id="menu-button">
    <svg class="icon icon-menu"><use id="menu-icon-use" xlink:href="#icon-menu" /></svg>
  </span>

  <br class="menu-br" />

  <span id="menu-text">
    <a id="menu-button-home"  href="#">Home</a>       <p class="menu-divider">|</p>
      <br class="menu-br" />
    <a id="menu-button-about" href="#about">About</a> <p class="menu-divider">|</p>
      <br class="menu-br" />
    <a id="menu-button-music" href="#music">Music</a> <p class="menu-divider">|</p>
  </span>

</div>
