/* --- base --- */
html {
  font-size: 70.5%;
}
body {
  color: $text_color;
  background: $background_color;
  font-family: 'Glacial Indifference Regular', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 400;
}

/* --- grid --- */
.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 80px; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* for devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 90%;
    padding: 0; }
}

/* for devices larger than 1100px */
@media (min-width: 1100px) {
  .container {
    width: 90%; }
  .column {
    margin-left: 0%; }
  .column:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 50%; }
}

/* --- general --- */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #CECECE; }
svg {
  fill: currentColor;
}
.section {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  background: $block_background_color;
}
.main-line {
  background: $block_background_color;
  width: 1px;
  min-height: 80px;
  padding: 0;
  position: absolute;
  margin-bottom: auto;
  height: 50%;
  z-index: -10;
}
.main-line-top {
  top: 0;
}
.main-line-bottom {
  bottom: 0;
}

/* --- clearing --- */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* --- typography --- */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 { font-size: 3.2rem; line-height: 1.2;  letter-spacing: 0.6rem; }
h2 { font-size: 2.8rem; line-height: 1.25; letter-spacing: 0.6rem; }
h3 { font-size: 2.4rem; line-height: 1.3;  letter-spacing: 0.6rem; }
h4 { font-size: 2.0rem; line-height: 1.35; letter-spacing: 0.6rem; }
h5 { font-size: 1.8rem; line-height: 1.4;  letter-spacing: 0.6rem; }
h6 { font-size: 1.0rem; line-height: 1.6;  letter-spacing: 0; }

@media (min-width: 550px) {
  h1 { font-size: 4.4rem; }
  h2 { font-size: 3.8rem; }
  h3 { font-size: 3.2rem; }
  h4 { font-size: 2.8rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0;
}
.column.text {
  padding: 30px;
}
.header-text {
  font-size: 22px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 0px 8px;
}

/* --- links --- */
a { color: $link_color; }
a:hover { color: $link_color_hover; }

@media (min-width: 1100px) {
  .anchor {
    position: absolute;
    transform: translateY(-50vh);
    margin-bottom: 20px;
    position: relative;
    bottom: 30px;
  }
}

/* --- lists --- */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }

/* --- table --- */
table { width: 100%; }
th, td { padding: 1px 0; }

/* --- utilities --- */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}

/* --- menu --- */
.main-button {
  background: $background_color;
  color: $block_background_color;
  height: 40px;
  width: 40px;
  padding: 10px 5px 0;
  border: solid 1px $block_background_color;
  position: absolute;
  top: 20px; left: 20px;
  line-height: 30px; /* must be same as height of this div */
  z-index: 999;
}
.main-button span {
  margin: auto;
  padding: 0px;
}
.menu-button {
  left: auto;
  right: 20px;
  height: auto;
  position: fixed;
  font-size: 18px;
  cursor: pointer;
}
#menu-button, #menu-text {
  float: right;
}
#menu-button {
  margin-right: 6px;
  float: right;
}
#menu-text {
  display: none;
  position: relative;
  bottom: 6px;
  float: right;
}
#menu-text a {
  margin: 0 3px 0 12px;
  color: $menu_text_color;
  text-decoration: none;
  text-align: right;
  float: right;
}
#menu-text a:hover {
  color: $menu_text_color_hover;
}
.menu-clicked {
  width: auto;
}
.menu-clicked #menu-button {
  margin-left: 10px;
  margin-right: 10px;
}
.menu-divider {
  display: none;
}
@media (min-width: 1100px) {
  .main-button {
    padding: 5px;
    position: absolute;
    top: 50px; left: 50px;
    line-height: 53px;
  }
  .menu-button {
    left: auto;
    right: 50px;
    height: 40px;
    position: fixed;
  }
  .menu-br {
    display: none;
  }
  .menu-divider {
    display: inline;
  }
  #menu-text a {
    float: none;
  }
}

/* --- hero --- */
.container.hero {
  height: 160px;
  max-width: 400px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.container.hero-line {
  height: calc(50% - 60px);
  margin: 0 auto;
  position: absolute;
  left: 0; bottom: 0; right: 0;
}
.row.hero-name, .row.hero-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.row.hero-name {
  margin-bottom: 22px;
}

/* --- about --- */
.column.about-img {
  padding: 0;
}
.about-img {
  width: 100%;
  vertical-align: middle;
}
/* --- music --- */
.music-object {
  padding: 3px 5px;
  width: 50%;
  box-sizing: border-box;
  float: left;
}
.music-object svg {
  margin-right: 5px;
  position: relative;
  top: 6px;
}

/* --- icon --- */
.icon, .icon-logo {
  display: inline-block;
  width: 25px;
  height: 25px;
  pointer-events: all;
  position: relative;
}
.icon {
  stroke: currentColor;
  fill: currentColor;
}
.icon-svg {
  display: none;
}
.icon-play {
  margin: 0 10px 0 0;
}
svg.icon-menu {
  z-index: 0;
}

/* --- queries --- */
@media (min-width: 400px) {}   /* larger than mobile */
@media (min-width: 550px) {}   /* larger than phablet (also point when grid becomes active) */
@media (min-width: 750px) {}   /* larger than tablet */
@media (min-width: 1000px) {}  /* larger than desktop */
@media (min-width: 1200px) {}  /* larger than desktop hd */

/* --- font --- */
@font-face {
  font-family: 'Glacial Indifference Regular';
  src:  url('/font/glacial-indifference-regular-webfont.woff2') format('woff2'),
        url('/font/glacial-indifference-regular-webfont.woff')  format('woff');
        font-weight: normal;
        font-style: normal;
}
